.control {
  display: block;
}

.control__inner {
  display: flex;
  align-items: center;
}

.control__button {
  margin-left: 10px;
}

.control__button_active {
  color: #fff !important;
  background-color: #00a1ac !important;
}

.control__span {
  margin-left: 20px;
  display: inline-block;
}
