.nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px 16px;
  display: block;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.1);
}

.nav a,
.nav button {
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  color: #00a1ac;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav * + * {
  margin-left: 14px;
}
